html,
body {
    width: 100%;
    height: 100%;
    background-color: grey;
    font-family: sans-serif;
}

html {
    box-sizing: border-box;
}



*, *::before, *::after{
    box-sizing: inherit;
}


body{
    background-color: lightgray;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: flex-start;

}
div{
    display: flex;
}

table{ 

    width: 75%;
    text-align: center;
    border: 1px solid black;
    padding: 2px;
}

.izquierda {
    background: red;
    justify-items: center;

    padding: 10px;
    width: 100%;
    flex: 1;
}

@media(max-width: 700px){
    body{
        flex-wrap: wrap;
     }
     .derecha{
         flex: 2 ;
     }
}
.derecha {
    background: blue;
    justify-items: center;
    padding: 10px;
    width: 100%;
    flex: 1;
}